html, body, div, span, applet, object, iframe,
 h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.confix{
    clear: both;
}

img{
    max-height: 100%;
    max-width: 100%;
}

.wrap{
    max-width: 1024px;
    height: auto;
    margin: 0 auto;
}


.header{
    max-width: 100%;
    height: 300px;
    background: #424242;
    border:1px solid white;
}

.header .left{
    height: 117px;
    width: 117px;
    margin-left: 173px;
    margin-top: 92px;
    float: left;
}

.header .center{
    width: 280px;
    height: 200px;
    margin-left: 50px;
    margin-top: 70px;
    float: left;
}

.center label{
    font-size: 18px;
    color:#FFD366;
    font-family: AppleSystemUIFont;
}


.center input{
    font-size: 24px;
    font-family: SFNSDisplay;
    color:#fff;
    background: rgba(255,255,255,0.18);
    border:2px solid #FFD366;
    border-radius: 10px;
    margin: 5px 0 15px 0;
    padding: 3px;
}

.header .right{
    width: 140px;
    height: 140px;
    font-size: 35px;
    line-height: 120px;
    text-align: center;
    font-family: PingFangTC-Regular;
    /* background: #424242; */
    background: #FFD366;
    border-radius: 50% 50%;
    /* border: 10px solid #86D73F; */
    margin-left: 50px;
    margin-top: 92px;
    float: left;
}

.header a{
    text-decoration: none;
    color: #424242;
    /* color: #86D73F; */
}

#downText{
    /* color: #86D73F; */
    font-size:18px; 
    height:20px; 
    width: 30px;
    line-height: 11px;
    margin: 0 auto;
    display: none;
}
.right:hover{
    box-shadow: 0 1px 6px 3px rgba(255,195,49,0.64);
}

.mostRight{
    height: 100px;
    width: 100px;
    float: left;
    margin-top: 155px;
    margin-left: 15px;
    /* color: #86D73F; */
    font-size: 40px;
    line-height: 40px;
}



.content{
    max-width:100%;
    margin-top: 60px;
}

.content h1{
    font-family: SFNSDisplay;
    font-size: 24px;
    color: #424242;
    text-align: center;
}

.section{
    margin-top: 60px;
}

li{
    margin: 0 auto;
    margin-top: 10px;
    height: 62px;
    width: 624px;
    border-left: 7px solid;
}

.content table td{
    font-family: AppleSystemUIFont;
    font-size: 12px;
    color: #424242;
    width: 600px;
    height: 62px;
    line-height: 62px;
}

.content .dataList li table tr .one{
    font-family: SFNSDisplay;
    font-size: 20px;
    color: #4A4A4A;
    margin-left: 15px;
}

